body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    color: white;
    font-family: Arial;
}

.player {
    text-align: center;
    background: #222;
    padding: 30px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}